@import url(Styles/Header.css);
:root{
--cor-de-fundo: #ff0000;
--cor-cabecalho: #14eeee;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container imagem, .container frase{
    padding: 1em;
    }
    .container titulo, .container frase{
    display:none;
    }